.content-wrapper-amazing {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.main-title-2 {
    color: #4E4E4E;
    font-size: 36px;
    margin: 85px 0 115px;
    position: relative;
}

.main-title-2:after {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 64px;
    left: 130px;
}

.main-title-2:before {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 70px;
    right: 113px;
}

.our-amazing-work__nav {
    display: flex;
    justify-content: center;
    user-select: none;
}

.our-amazing-work__nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 70px;
    background-color: #D4D4D4;
    border: 1px solid #DADADA;
    transition: .5s;
    position: relative;
    cursor: pointer;
}

.our-amazing-work__nav-text:hover {
    border: 1px solid #18CFAB;
    transition: .5s;
}

.active2 {
    border: 1px solid #18CFAB;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.btn-amazing-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 44%;
    user-select: none;
}

.our-amazing-work__img {
    margin: 70px 0;
}

.amazing-word__img-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 206px);
    gap: 5px;
    margin-bottom: 5px;
    position: relative;
}

.btn-amazing-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 44%;
    user-select: none;
}

.load-more-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 169px;
    height: 63px;
    border-radius: 3px;
    border: none;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #18CFAB;
    cursor: pointer;
}


.load-more-button.loading {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

.load-more-button.loading:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 200px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: red;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.amazing-word__img-all-none {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 206px);
    display: none;
    gap: 5px;
}

.amazing-img-info {
    display: none;
}

.our-amazing-background {
    width: 100%;
    min-height: 1212px;
    background: #E9EDEF;

}