* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    width: auto;
}

main {
    width: auto;
}

header {
    width: 100%;
    height: 1012px;
    background-image: url("../images/header/backgound.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background: rgba(94, 93, 88, 0.60);

}

.main-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper__items ul {
    display: flex;
    justify-content: center;
}

.nav-wrapper__items button {
    border: none;
    background: transparent;
}

.nav-items {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
    transition: .5s;
    position: relative;
}

.nav-items:hover {
    transition: .5s;
    color: #18CFAB;
}

.nav-items:after {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -52px;
    height: 2px;
    background: #18CFAB;
    border-radius: 5px;
    transform-origin: unset;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-items:hover:after {
    transform-origin: unset;
    transform: scaleX(1)
}

.nav-icon {
    color: rgba(255, 255, 255, 0.60);
    vertical-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    transition: .5s;
}

.nav-icon:hover {
    transition: .5s;
    color: #18CFAB;
}

.logo-element {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    margin-left: 8px;
}

.logo-element:before {
    content: 'H';
    position: absolute;
    bottom: -5px;
    left: -53px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.logo-element__ham {
    color: #18CFAB;
    font-size: 32px;
    font-weight: 700;
}

.main-wrapper__text {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px;
    height: 88.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-container__text {
    display: block;
    text-align: center;
}

.main-container__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__text__one {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.main-container__text__two {
    color: #FFF;
    text-align: center;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.main-container__text__three {
    color: #D4D4D4;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    padding-bottom: 150px;
}

.light-green-txt {
    color: #18CFAB
}

.btn-header {
    width: 169px;
    height: 63px;
    border-radius: 3px;
    border: none;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 -5px 0 white;
}

.btn-header:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 169px;
    height: 7px;

}

.btn-header_explore {
    background-color: #18CFAB;
}

.btn-header_purchase {
    background-color: #00CBF6;
    margin-left: 22px;
}

.d1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 48px;

}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.card-nav-container {
    margin-top: 5px;
    display: flex;
}

.card-info {
    width: 25%;
    height: 277px;
    background-color: #1C2A33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-info__other {
    background-color: #18CFAB;
}

.card-info__text {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 20px;
    padding-top: 45px;
}

.card-info__text-other {
    padding-top: 66px;
    color: #FFF;
}

.our-service-wrapper {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px;
}

.our-service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: #4E4E4E;
    font-size: 36px;
    margin: 85px 0 115px;
    position: relative;
}

.main-title:after {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 64px;
    left: 70px;
}

.main-title:before {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 70px;
    right: 53px;
}

.our-service__nav {
    display: flex;
}

.our-service__nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 70px;
    background-color: #D4D4D4;
    border: 1px solid #DADADA;
    transition: .5s;
    position: relative;
}

.our-service__nav-text:hover {
    border: 1px solid #18CFAB;
    transition: .5s;
}

.our-service__info {
    display: flex;
    margin-top: 25px;
}

.our-service__info-card {
    display: flex;
}

.our-service__info-text {
    padding-left: 15px;
    color: #777;
    font-size: 14px;
    line-height: 24px;
}

.icon {
    position: absolute;
    top: 67px;
    left: 71px;
}

.service-wrapper {
    background-color: #E9EDEF;
}

.section-service {
    padding-top: 80px;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.main-title-2 {
    color: #4E4E4E;
    font-size: 36px;
    margin: 85px 0 115px;
    position: relative;
}

.main-title-2:after {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 64px;
    left: 120px;
}

.main-title-2:before {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 70px;
    right: 113px;
}

.tab-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 76px;
}

.tab-text {
    flex: 1;
    margin-left: 20px;
    color: #777;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.content-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-image {
    width: 192px;
    height: 139px;
    margin-right: 20px;
}

.tab-item:hover {
    border: #18CFAB 1px solid;
}

.content-item.is-active {
    display: flex;
    align-items: flex-start;
}

.content-item {
    display: none;
}

.tab-item.is-active {
    background-color: #18CFAB;
    color: whitesmoke;
}


.install-wrapper {
    width: 100%;
    height: 476px;
    background-image: url("../images/ourservice/foneour.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin-top: 90px;
}

.install-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    height: 476px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.install-container-title {
    color: #18CFAB;
    text-align: center;
    font-size: 40px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.install-container-title__text {
    color: #D8D8D8;
    text-align: center;
    font-size: 16px;
    padding-bottom: 68px;
}

.filter-button {
    width: 15%;
    height: 70px;
    background-color: #D4D4D4;
    border: 1px solid #DADADA;
    transition: .5s;
    position: relative;
    cursor: pointer;
}

.filter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.filter-button:hover {
    border: 1px solid #18CFAB;
    transition: .5s;
}

.amazing-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-item {
    display: none;
}

.filter-item.active {
    display: block;
}

.imgPreview {
    max-width: 100%;
    max-height: 80vh;
}

.closeBtn {
    display: block;
    margin-top: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}



.breaking-news-img__link {
    position: relative;
    text-decoration: none;
}

.breaking-news-img__data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    left: 193px;
    transition: .5s;
}

.breaking-news-img__link:hover .breaking-news-img__data {
    background-color: #18CFAB;
}

.breaking-news-img__link:hover .breaking-text__after-img {
    color: #18CFAB;
}

.breaking-news-img__data p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

.breaking-news-img__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.breaking-text__after-img {
    color: #717171;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    font-weight: 700;
    transition: .5s;
}

.breaking-text__undo {
    color: #777;
    text-align: center;
    font-size: 14px;
}

.breaking-text__undo1 {
    font-weight: 400;
    border-right: 1px solid #777;
    padding-right: 12px;
}

.breaking-text__undo2 {
    font-weight: 400;
    padding-left: 12px;
}

.main-title-3 {
    color: #4E4E4E;
    font-size: 36px;
    margin: 85px 0 100px;
    position: relative;
}

.main-title-3:after {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 64px;
    left: 92px;
}

.main-title-3:before {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 70px;
    right: 77px;
}

.content-wrapper {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px;
}

.content-wrapper-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: auto;
    height: 121px;
    background-color: #22353F;

}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    color: #AEAEAE;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}


.content-wrapper-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-4 {
    color: white;
    font-size: 36px;
    margin: 95px 0 100px;
    position: relative;
}

.main-title-4:after {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 64px;
    left: 248px;
}

.main-title-4:before {
    position: absolute;
    content: ' ';
    display: block;
    height: 2px;
    width: 91px;
    background-color: #18CFAB;
    top: 70px;
    right: 230px;
}

.slider-text {
    color: #BBB;
    text-align: center;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about-ham-people {
    color: #BBB;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.about-ham-name {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about-ham-specialty {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    padding-bottom: 10px;
}

.slider-main {
    width: 100%;
    height: 853px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/aboutthehum/about-theham-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin-top: 120px;
}


.slider-container {
    max-width: 1200px;
    max-height: 1200px;
    margin: 50px auto 0;
    justify-content: center;
    align-items: center;
}


.slider-img {
    object-fit: cover;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.slider-img-2 {
    object-fit: cover;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.sliders-two {
    margin-top: 90px;
}


.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide .slider-img {
    display: flex;
}

.slick-slide.slick-loading .slider-img {
    display: none;
}

.slick-slide.dragging .slider-img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.slider-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 2;
    background-color: #dddddd80;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.slider-btn:hover {
    background-color: #18CFAB;
}

.slider-prev {
    margin-top: 244px;
    left: 55px;
}

.slider-next {
    margin-top: 244px;
    right: 55px;
}

/* sliders-second  */
.sliders-two .slider-wrapper {
    cursor: pointer;
}






